﻿body {
    background-color: #282a2a;
    font-family: georgia, times, serif;
    font-size: 16px;
    color: #BCC0C1;
}

.container {
    background-color: #505455;
}

a {
    color: #c4c8fe;
}

a:hover {       
    color: white;
}

h1, h2, h3{
    color: white;
    font-family: arial, helvetica, sans-serif;
}

table, th, td {
    color: #e1e3fe;
    border: 1px solid #e1e3fe;
}

caption {
    color: white;
}
.codebox{
    font-family: 'Courier New';
    width:100%;
}

.darkCodeBoxItem td{
    color:white;
    padding-right: 10px;
    padding-left: 10px;
    text-align: left;
    border:none;
    background-color: #1f2421;
}

.darkCodeHeader td {
    background-color: #4f5769;
    border: none;
    font-weight: bold;
    text-align: left;
    color: white;
    text-transform: uppercase;
    font-size: 18px;
}

.altLightRow td{
    background-color: #fafddf;
    color: #505455;
    padding-right: 10px;
    padding-left: 10px;
    text-align: left;
    border: none;
}

.lightCodeBoxItem td {
    color: #505455;
    background-color: white;
    padding-right: 10px;
    padding-left: 10px;
    text-align: left;
    border: none;
}

.lightCodeHeader td {
    background-color: #c4c8fe;
    font-weight: bold;
    color: #505455;
    text-align: left;
    border: none;
    text-transform: uppercase;
    font-size: 18px;
}

#footer {
   color: #BCC0C1;
}

#w3-margin-example {
    color: black;
}

