﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Site.master.cs" Inherits="Assignment2B.SiteMaster" %>
<!DOCTYPE html>
<html lang="en">
   <head runat="server">
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title><%: Page.Title %> - My ASP.NET Application</title>
      <asp:PlaceHolder runat="server">
         <%: Scripts.Render("~/bundles/modernizr") %>
      </asp:PlaceHolder>
      <webopt:bundlereference runat="server" path="~/Content/css" />
      <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
      <asp:ContentPlaceHolder ID="MainCSS" runat="server">
      <link rel="stylesheet" href="style.css" />
      </asp:ContentPlaceHolder>
   </head>
   <body>
      <form runat="server">
         <asp:ScriptManager runat="server">
            <Scripts>
               <%--To learn more about bundling scripts in ScriptManager see https://go.microsoft.com/fwlink/?LinkID=301884 --%>
               <%--Framework Scripts--%>
               <asp:ScriptReference Name="MsAjaxBundle" />
               <asp:ScriptReference Name="jquery" />
               <asp:ScriptReference Name="bootstrap" />
               <asp:ScriptReference Name="WebForms.js" Assembly="System.Web" Path="~/Scripts/WebForms/WebForms.js" />
               <asp:ScriptReference Name="WebUIValidation.js" Assembly="System.Web" Path="~/Scripts/WebForms/WebUIValidation.js" />
               <asp:ScriptReference Name="MenuStandards.js" Assembly="System.Web" Path="~/Scripts/WebForms/MenuStandards.js" />
               <asp:ScriptReference Name="GridView.js" Assembly="System.Web" Path="~/Scripts/WebForms/GridView.js" />
               <asp:ScriptReference Name="DetailsView.js" Assembly="System.Web" Path="~/Scripts/WebForms/DetailsView.js" />
               <asp:ScriptReference Name="TreeView.js" Assembly="System.Web" Path="~/Scripts/WebForms/TreeView.js" />
               <asp:ScriptReference Name="WebParts.js" Assembly="System.Web" Path="~/Scripts/WebForms/WebParts.js" />
               <asp:ScriptReference Name="Focus.js" Assembly="System.Web" Path="~/Scripts/WebForms/Focus.js" />
               <asp:ScriptReference Name="WebFormsBundle" />
               <%--Site Scripts--%>
            </Scripts>
         </asp:ScriptManager>
         <header>
            <!-- Navigation Menu based off code found from w3schools.com/bootstrap/bootstrap_navbar.asp -->
            <nav class="navbar navbar-inverse">
               <h2 class="hidden">Main Navigation</h2>
               <div class="container-fluid">
                  <div class="navbar-header">
                     <a class="navbar-brand" runat="server" href="~/">Beverly's Study Guide</a>
                     <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-navigation">
                     <span class="icon-bar"></span>
                     <span class="icon-bar"></span>
                     <span class="icon-bar"></span> 
                     </button>
                  </div>
                  <div id="main-navigation" class="collapse navbar-collapse" >
                     <ul class="nav navbar-nav navbar-right">
                        <li><a class="active" runat="server" href="~/">Home</a></li>
                        <li><a runat="server" href="~/JavaScript">JavaScript</a></li>
                        <li><a runat="server" href="~/SQL">SQL</a></li>
                        <li><a runat="server" href="~/HTMLCSS">HTML/CSS</a></li>
                     </ul>
                  </div>
               </div>
            </nav>
         </header>
         <div class="container">
            <div class="row">
               <div class="col-md-12 col-xs-12">
                  <asp:ContentPlaceHolder ID="MainContent" runat="server"></asp:ContentPlaceHolder>
               </div>
            </div>
            <div class="row">
               <div class="col-md-5 col-xs-12">
                  <asp:ContentPlaceHolder ID="MyExample" runat="server"></asp:ContentPlaceHolder>
               </div>
               <div class="col-md-5 col-xs-12">
                  <asp:ContentPlaceHolder ID="WebExample" runat="server"></asp:ContentPlaceHolder>
               </div>
            </div>
            <div class="row">
               <div class="col-md-12 col-xs-12">
                  <asp:ContentPlaceHolder ID="UsefulLinks" runat="server"></asp:ContentPlaceHolder>
               </div>
            </div>
         </div>
         <div id="footer-container" class="container">
            <footer id="footer">
               <h2 class="hidden">Footer</h2>
               <p>&copy; 2018 Beverly's Study Guide</p>
            </footer>
         </div>
      </form>
   </body>
</html>