﻿/*TABLE OF CONTENTS:
    1. HTML/CSS: Margin Examples
    2. Headers/Headings
    3. Tables
    4. Containers
    5. Pre
    6. Lists
    7. Navigation and Links
    8. Footer
*/

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    background-color: #f6f6f6;
    padding: 0;
    margin: 0;
}

.hidden {
    position: absolute;
    left: -10000px;
    font-size: 0em;
    width: 0px;
}

/*1. HTML/CSS: Margin Examples*/
#exampleA {
    border: 1px solid blue;
}

#exampleB {
    border: 1px solid blue;
}

#margin-exampleA {
    border: 1px solid blue;
    margin: 50px;
}

#margin-exampleB {
    border: 1px solid blue;
    margin: 50px;
}

/*w3-margin-example was code taken from https://www.w3schools.com/csS/tryit.asp?filename=trycss_margin_intro*/
#w3-margin-example {
    border: 1px solid black;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
    background-color: lightblue;
}

/*2. Headers/Headings*/
#home-header {
    text-transform: uppercase;
}

h1, h2 {
    color: #8991fc;
}

h3 {
    color: cornflowerblue;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

/*3. Tables*/
table, th, td {
    color: #356dba;
    border: 1px solid #679ed4;
    padding: 5px;
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: center;
}

caption {
    color: royalblue;
}

/*4. Containers*/
.container {
    box-shadow: 0px 0px 15px -5px rgba(0,0,0,0.5);
}

.links-container {
    margin-bottom: 2em;
}

/*5. Pre*/
.pre {
    margin-top: 1em;
    margin-bottom: 1em;
    box-shadow: 0px 0px 15px -5px rgba(0,0,0,0.5);
}

.pre-dark {
    background-color: #2a2a2a;
    color: lightgrey;
}

/*6. Lists*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/*7. Navigation and Links*/
.navbar-nav li > a {
    color: #8991fc !important;
}

.navbar-nav > li > a:hover {
    color: white !important;
}

.navbar-brand, nav {
    text-transform: uppercase;
}

.navbar-brand {
    color: white !important;
}

a {
    color: #356dba;
    text-align: center;
    text-decoration: none;
    transition: 0.75s;
}

a:hover {
    color: blue;
    text-decoration: none;
}

/*8. Footer*/
#footer-container {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

#footer {
    color: #838383;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    display: block;
    width: 100%;
    padding: 1em;
}

#footer p {
    margin: 0;
}
