﻿body {
    background-color: #f2f8ff;
    font-family: georgia, times, serif;
    font-size: 16px;
    color: #505455;
}

.container {
    background-color: white;
}

h1, h2, h3 {
    color: #505455;
    font-family: arial, helvetica, sans-serif;
}

.codebox {
    font-family: 'Courier New';
    width: 100%;
}


.darkCodeBoxItem td {
    color: white;
    padding-right: 10px;
    padding-left: 10px;
    text-align: left;
    border: none;
    background-color: #1f2421;
}

.darkCodeHeader td {
    background-color: #356dba;
    border: none;
    font-weight: bold;
    text-align: left;
    color: white;
    text-transform: uppercase;
    font-size: 18px;
}


.lightCodeBoxItem td {
    color: #505455;
    background-color: white;
    padding-right: 10px;
    padding-left: 10px;
    text-align: left;
    border: none;
}

.lightCodeHeader td {
    background-color: #e0efff;
    font-weight: bold;
    color: #505455;
    text-align: left;
    border: none;
    text-transform: uppercase;
    font-size: 18px;
}
